
<div>
  <p> Deck code is {{deckCode}} ( This is used to continue the draft at a later time)</p>
  <p *ngIf="deckModel"> Main Deck: {{deckModel.mainDeck}} / {{deckModel.mainDeckLimit}} Extra Deck: {{deckModel.extraDeck}} / {{deckModel.extraDeckLimit}} Unspecified: {{deckModel.size - deckModel.mainDeck - deckModel.extraDeck}} Tokens: {{deckModel.tokens}}</p>




  <mat-tab-group class="tab-group" [dynamicHeight]="true">
    <mat-tab label="Draft" class="tab-content">
      <div>
        <ng-container *ngIf="deckModel && !deckModel.finished">
          <p *ngIf="deckModel.draftFinished"> Your draft is finished, you can now spend your tokens on these tech cards or skip this by  <button (click) = "postNoPurchase()">clicking here</button></p>



          <div class="container-fluid">

            <ng-container *ngFor="let item of createRange(drafting.length/4); let i = index">
              <div class="row no-padding equal" >
                <ng-container *ngFor="let item of createRange(4); let j = index">
                  <div class="col-xs-3 no-padding border-black-solid"  *ngIf="drafting[4*i + j] !== undefined" (click) = "!draftSent ? postDraft(drafting[4*i+j].id) : true" >
                    <div class="flex-container">
                      <a>
                        <img class="aspect-shrink" [src]="drafting[4*i + j].imagePath">
                        <!-- <img class="aspect-shrink" src="/assets/cards/placeholder.png"> -->
                      </a>

                      <table class="card-table">
                        <tbody>
                          <tr class="table-row">
                            <th class="table-header">
                              Name
                            </th>
                            <td>
                              {{drafting[4*i+j].text.name}}
                            </td>
                          </tr>
                          <tr class="table-row">
                            <th class="table-header">
                              Card Type
                            </th>
                            <td>
                              {{drafting[4*i+j].card.typeString}}
                            </td>
                          </tr>
                          <tr class="table-row" *ngIf="drafting[4*i+j].card.attributeString !== 0">
                            <th class="table-header">
                              Attribute
                            </th>
                            <td>
                              {{drafting[4*i+j].card.attributeString}}
                            </td>
                          </tr>

                          <tr class="table-row red-bg" *ngIf="drafting[4*i+j].effect != 0">
                            <th class="table-header" >
                              Draft Bonus
                            </th>
                            <td>
                              {{drafting[4*i+j].effectString}}
                            </td>


                          </tr>

                          <tr class="table-row" *ngIf="drafting[4*i+j].tokenCost != 0">
                            <th class="table-header">
                              Token Cost
                            </th>

                            <td>
                              {{drafting[4*i+j].tokenCost}}
                            </td>
                          </tr>


                          <tr >
                            <td class="table-description" colspan="2">
                              <strong>Description</strong>
                              <br>
                              {{drafting[4*i+j].text.desc}}
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                  <div class="col-xs-3" *ngIf="drafting[4*i+j] === undefined">
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <div *ngIf="deckModel">
          <button *ngIf="deckModel.finished" (click)="download()">Download</button>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="Deck">
      <div  style="display:flex; width:100%">
        <div *ngIf="deckModel" style="width: 20%; height: 100%; order: 99;">

          <div id="card-preview" *ngIf="draftHovered !== undefined">

            <a>
              <img class="aspect-shrink" [src]="draftHovered.imagePath">
              <!-- <img class="aspect-shrink" src="/assets/cards/placeholder.png"> -->
            </a>

            <table class="card-table">
              <tbody>
                <tr class="table-row">
                  <th class="table-header">
                    Name
                  </th>
                  <td>
                    {{draftHovered.text.name}}
                  </td>
                </tr>
                <tr class="table-row">
                  <th class="table-header">
                    Card Type
                  </th>
                  <td>
                    {{draftHovered.card.typeString}}
                  </td>
                </tr>
                <tr class="table-row" *ngIf="draftHovered.card.attributeString !== 0">
                  <th class="table-header">
                    Attribute
                  </th>
                  <td>
                    {{draftHovered.card.attributeString}}
                  </td>
                </tr>

                <tr class="table-row red-bg" *ngIf="draftHovered.effect != 0">
                  <th class="table-header" >
                    Draft Bonus
                  </th>
                  <td>
                    {{draftHovered.effectString}}
                  </td>
                </tr>

                <tr >
                  <td class="table-description" colspan="2">
                    <strong>Description</strong>
                    <br>
                    {{draftHovered.text.desc}}
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
        <div style="width:80%; order: 0;">

          <div class="button-row">
            <span> Filter By: </span>
            <button mat-raised-button class="button-sm-margin" (click) = "filter = 'ALL'; generateFilteredDrafted();" [disabled]="filter === 'ALL'">All</button>
            <button mat-raised-button class="button-sm-margin" (click) = "filter = 'MDM'; generateFilteredDrafted();" [disabled]="filter === 'MDM'">Main Deck Monster</button>
            <button mat-raised-button class="button-sm-margin" (click) = "filter = 'SPELL'; generateFilteredDrafted();" [disabled]="filter === 'SPELL'">Spell</button>
            <button mat-raised-button class="button-sm-margin" (click) = "filter = 'TRAP'; generateFilteredDrafted();" [disabled]="filter === 'TRAP'">Trap</button>
            <button mat-raised-button class="button-sm-margin" (click) = "filter = 'EDM'; generateFilteredDrafted();" [disabled]="filter === 'EDM'">Extra Deck Monster</button>
          </div>
          <div class="button-row">            
            <span> Order By: </span>
            <button mat-raised-button class="button-sm-margin" (click) = "order = 'DRAFT'; generateFilteredDrafted();" [disabled]="order === 'DRAFT'">Draft Order</button>
            <button mat-raised-button class="button-sm-margin" (click) = "order = 'ALPHABETICAL'; generateFilteredDrafted();" [disabled]="order === 'ALPHABETICAL'">Alphabetical</button>
          </div>

          <div class="container-fluid" *ngIf="draftedFiltered !== undefined">
            <ng-container *ngFor="let item of createRange(draftedFiltered.length/6); let i = index">
              <div class="row no-padding equal" >
                <ng-container *ngFor="let item of createRange(6); let j = index">
                  <div class="col-xs-2 no-padding border-black-solid"  *ngIf="draftedFiltered[6*i + j] !== undefined" (mouseenter) = "loadHoverDraft(draftedFiltered[6*i+j])" (mouseleave) ="clearHoverDraft()">
                    <a>
                      <img class="aspect-shrink" [src]="draftedFiltered[6*i + j].imagePath">
                      <!-- <img class="aspect-shrink" src="/assets/cards/placeholder.png"> -->
                    </a>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>


        </div>
      </div>
    </mat-tab>

  </mat-tab-group>

