
<div>
	<p> Deck code is {{deckCode}} ( This is used to continue the draft at a later time)</p>
	<p *ngIf="deckModel"> Main Deck: {{deckModel.mainDeck}} / {{deckModel.mainDeckLimit}} Extra Deck: {{deckModel.extraDeck}} / {{deckModel.extraDeckLimit}} Unspecified: {{deckModel.size - deckModel.mainDeck - deckModel.extraDeck}} Tokens: {{deckModel.tokens}}</p>




	<ng-container *ngIf="deckModel && !deckModel.finished">
		<p *ngIf="deckModel.draftFinished"> Your draft is finished, you can now spend your tokens on these tech cards or skip this by  <button (click) = "postNoPurchase()">clicking here</button></p>




<!-- Fuck maintaining two of these, need to figure out how to set variables in template
		<div class="container-fluid" *ngIf="drafting.length % 3 == 0">

			<ng-container  *ngFor="let item of createRange(drafting.length/3); let i = index">
				<div class="row no-padding equal" >
					<ng-container *ngFor="let item of createRange(3); let j = index">
						<div class="col-xs-4 no-padding border-black-solid"  *ngIf="drafting[3*i + j] !== undefined" (click) = "!draftSent ? postDraft(drafting[3*i+j].id) : true" >
							<div class="flex-container">
								<a>
									<img class="aspect-shrink" [src]="drafting[3*i + j].imagePath">
								</a>

								<table class="card-table">
									<tbody>
										<tr class="table-row">
											<th class="table-header">
												Name
											</th>
											<td>
												{{drafting[3*i + j].text.name}}
											</td>
										</tr>
										<tr class="table-row">
											<th class="table-header">
												Card Type
											</th>
											<td>
												{{typeToText(drafting[3*i + j].card.type)}}
											</td>
										</tr>
										<tr class="table-row" *ngIf="attributeToText(drafting[3*i + j].card.attribute) !== 0">
											<th class="table-header">
												Attribute
											</th>
											<td>
												{{attributeToText(drafting[3*i + j].card.attribute)}}
											</td>
										</tr>

										<tr class="table-row" *ngIf="drafting[3*i+j]">

										<tr>
											<td class="table-description" colspan="2">
												<strong>Description</strong>
												<br>
												{{drafting[3*i + j].text.desc}}
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
						<div class="col-xs-4" *ngIf="drafting[3*i + j] === undefined">
						</div>
					</ng-container>
				</div>
			</ng-container>
		</div> -->

		<div class="container-fluid">

			<ng-container *ngFor="let item of createRange(drafting.length/4); let i = index">
				<div class="row no-padding equal" >
					<ng-container *ngFor="let item of createRange(4); let j = index">
						<div class="col-xs-3 no-padding border-black-solid"  *ngIf="drafting[4*i + j] !== undefined" (click) = "!draftSent ? postDraft(drafting[4*i+j].id) : true" >
							<div class="flex-container">
								<a>
									<img class="aspect-shrink" [src]="drafting[4*i + j].imagePath">
									<!-- <img class="aspect-shrink" src="/assets/cards/placeholder.png"> -->
								</a>

								<table class="card-table">
									<tbody>
										<tr class="table-row">
											<th class="table-header">
												Name
											</th>
											<td>
												{{drafting[4*i+j].text.name}}
											</td>
										</tr>
										<tr class="table-row">
											<th class="table-header">
												Card Type
											</th>
											<td>
												{{typeToText(drafting[4*i+j].card.type)}}
											</td>
										</tr>
										<tr class="table-row" *ngIf="attributeToText(drafting[4*i+j].card.attribute) !== 0">
											<th class="table-header">
												Attribute
											</th>
											<td>
												{{attributeToText(drafting[4*i+j].card.attribute)}}
											</td>
										</tr>

										<tr class="table-row" *ngIf="drafting[4*i+j].tokenCost != 0">
											<th class="table-header">
												Token Cost
											</th>

											<td>
												{{drafting[4*i+j].tokenCost}}
											</td>
										</tr>


										<tr >
											<td class="table-description" colspan="2">
												<strong>Description</strong>
												<br>
												{{drafting[4*i+j].text.desc}}
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
						<div class="col-xs-3" *ngIf="drafting[4*i+j] === undefined">
						</div>
					</ng-container>
				</div>
			</ng-container>
		</div>
	</ng-container>

	<div *ngIf="deckModel">
		<button *ngIf="deckModel.finished" (click)="download()">Download</button>
		<br>
		<div *ngFor="let draft of drafted">
			 <p><strong>{{draft.text.name}} </strong></p> 
			 <p>{{draft.text.desc}}</p>

		</div>
	</div>
<div>