<div class="container">
    <h1>Continue Deck</h1>
    <form [formGroup]="loadDeckForm" (ngSubmit)="loadDeck(loadDeckForm.value, loadDeckForm.valid)">
		<div>
		    <label>Enter Deck Code</label>
		    <input type="text" formControlName="hash">
		    <div *ngIf="loadDeckForm.controls.hash.invalid && (loadDeckForm.controls.hash.dirty || loadDeckForm.controls.hash.touched)">
			    <div *ngIf="loadDeckForm.controls.hash.errors.minlength || loadDeckForm.controls.hash.errors.maxlength" >
				    <span>Input check failed: Code is 10 Characters long.</span>
				</div>
			</div>
		</div>

		<div *ngIf="loadDeckStatus!==undefined">
			<span>Result: {{loadDeckStatus}}</span>
		</div>
	 
	    <button type="submit" [disabled]="submittedHash || !loadDeckForm.controls.hash.valid">Load Deck</button>
    </form>



    <h1> Create New Deck </h1>
    <label> Starting Hand </label>
    <div>
	    <select [(ngModel)] = "selectedBonus">
	    	<option *ngFor = "let bonus of deckBonuses" [ngValue] ="bonus">{{bonus.name}}</option>
	    </select>
	</div>

	<div *ngIf="selectedBonus">
		<h4>{{selectedBonus.flavor}}</h4>
		<p style="white-space: pre-wrap;">{{selectedBonus.desc}}</p>
	</div>


    <label> Starting Character </label>
	<div>
	    <select [(ngModel)] = "selectedCharacter">
	    	<option *ngFor = "let character of deckCharacters" [ngValue] ="character">{{character.name}}</option>
	    </select>
	</div>

	<div *ngIf="selectedCharacter">
		<h4>{{selectedCharacter.flavor}}</h4>
		<p style="white-space: pre-wrap;">{{selectedCharacter.desc}}</p>
	</div>

	<label> Deck Size </label>
    <div>
	    <select [(ngModel)] = "selectedDeckSize">
	    	<option *ngFor = "let deckSize of deckSizes" [ngValue] ="deckSize">{{deckSize.name}}</option>
	    </select>
	</div>

	<div *ngIf="selectedDeckSize">
		<p style="white-space: pre-wrap;">{{selectedDeckSize.desc}}</p>
	</div>
	



    <div *ngIf="selectedBonus && selectedDeckSize && selectedCharacter">
		<button [disabled]="requestSent" (click)="createDeck()"> Get Deck </button> 

		<div *ngIf="getDeckStatus!==undefined"> 
			<span>Error code: {{getDeckStatus}}</span>
		</div>

	</div>

</div>


<div *ngIf="deckModel!==undefined">
	<ul> Deck Info
		<li>Deck Code: {{deckModel.hash}}</li>
		<li>Draft Complete: {{deckModel.finished}}</li>
		<li>Number of cards: {{deckModel.size}}</li>
	</ul>
	<button (click)="gotoDrafts(deckModel)"> Go to draft </button>
</div>